/* Home.module.css */

/* Estilos del contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/img/Diseño\ sin\ título.png'); /* Ruta de la imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 1rem; /* Agrega un poco de espacio interior */
}

/* Estilos para el texto dentro del contenedor */
.textContainer {
  text-align: center;
  padding: 0.5rem; /* Reduce el espacio interno */
}

/* Encabezado principal */
.header {
  font-size: 1.5rem; /* Tamaño reducido (text-2xl) */
  font-weight: 700; /* font-bold */
  color: #FFEAC5; /* Naranja */
  margin-bottom: 0.5rem; /* mb-2 */
}

/* Párrafo descriptivo */
.paragraph {
  font-size: 1rem; /* Tamaño reducido (text-base) */
  color: #00796b; /* Verde oscuro */
  margin-bottom: 1rem; /* Espaciado adicional */
}

/* Botón de acción */
.button {
  margin-top: 0.5rem; /* mt-2 */
  padding: 0.4rem 1rem; /* px-4 py-1 */
  background-color: #00897b; /* Verde turquesa */
  color: white;
  border-radius: 0.25rem; /* rounded-md */
  font-size: 0.875rem; /* text-sm */
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #004d40; /* Verde más oscuro en hover */
}
