.reservarButton {
    background-color: #FF6F00;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .reservarButton:hover {
    background-color: #FF8F00;
  }
  